.thaw-upload-dragger {
    width: 100%;
    padding: 20px;
    background-color: var(--thaw-background-color);
    border: 1px dashed var(--thaw-border-color);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: border 0.3s;
    box-sizing: border-box;
}
.thaw-upload-dragger:hover,
.thaw-upload--drag-over .thaw-upload-dragger {
    border: 1px dashed var(--thaw-border-color-hover);
}
