.thaw-anchor {
    position: relative;
    padding-left: 4px;
}

.thaw-anchor .thaw-anchor-link + .thaw-anchor-link,
.thaw-anchor .thaw-anchor-link > .thaw-anchor-link {
    margin-top: 0.5em;
}

.thaw-anchor-rail {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--colorNeutralStroke2);
}

.thaw-anchor-rail__bar {
    position: absolute;
    left: 0;
    width: 4px;
    height: 21px;
    transition: top 0.15s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.thaw-anchor-rail__bar.thaw-anchor-rail__bar--active {
    background-color: var(--colorBrandBackground);
}

.thaw-anchor-link {
    padding: 0 0 0 16px;
    position: relative;
    line-height: var(--lineHeightBase200);
    font-size: var(--fontSizeBase200);
    min-height: 1.5em;
    display: flex;
    flex-direction: column;
}

.thaw-anchor-link.thaw-anchor-link--active > .thaw-anchor-link__title {
    color: var(--colorNeutralForeground2Active);
}

.thaw-anchor-link__title {
    outline: none;
    max-width: 100%;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    padding-right: 16px;
    color: inherit;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--colorNeutralForeground2);
}

.thaw-anchor-link__title:hover {
    color: var(--colorNeutralForeground2Hover);
}
