.thaw-code {
    font-size: 14px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
        Liberation Mono, monospace;
}

.thaw-code pre {
    margin: 0;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
}
