.thaw-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacingHorizontalXXS);
    max-height: 80vh;
    padding: var(--spacingHorizontalXS);
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    border-radius: var(--borderRadiusMedium);
    box-shadow: var(--shadow16);
    overflow-y: auto;
    transform-origin: inherit;
}

[data-thaw-placement="top-start"] > .thaw-menu,
[data-thaw-placement="top-end"] > .thaw-menu,
[data-thaw-placement="top"] > .thaw-menu {
    margin-bottom: 4px;
}

[data-thaw-placement="bottom-start"] > .thaw-menu,
[data-thaw-placement="bottom-end"] > .thaw-menu,
[data-thaw-placement="bottom"] > .thaw-menu {
    margin-top: 4px;
}

[data-thaw-placement="left-start"] > .thaw-menu,
[data-thaw-placement="left-end"] > .thaw-menu,
[data-thaw-placement="left"] > .thaw-menu {
    margin-right: 4px;
}

[data-thaw-placement="right-start"] > .thaw-menu,
[data-thaw-placement="right-end"] > .thaw-menu,
[data-thaw-placement="right"] > .thaw-menu {
    margin-left: 4px;
}

.thaw-menu.dropdown-transition-enter-from,
.thaw-menu.dropdown-transition-leave-to {
    opacity: 0;
    transform: scale(0.85);
}

.thaw-menu.dropdown-transition-enter-to,
.thaw-menu.dropdown-transition-leave-from {
    transform: scale(1);
    opacity: 1;
}

.thaw-menu.dropdown-transition-enter-active,
.thaw-menu.dropdown-transition-leave-active {
    transition: opacity var(--durationNormal) var(--curveDecelerateMid),
        transform var(--durationNormal) var(--curveDecelerateMid);
}
