.melt-color-picker-trigger {
    display: inline-block;
    padding: 4px;
    width: 100%;
    height: 34px;
    border: 1px solid #e0e0e6;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.melt-color-picker-trigger__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
}

.melt-color-picker-popover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 240px;
    padding: 12px;
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.melt-color-picker-popover__panel {
    position: relative;
    height: 180px;
    margin-bottom: 8px;
    cursor: crosshair;
}

.melt-color-picker-popover__layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.melt-color-picker-popover__layer--shadowed {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.melt-color-picker-popover__handle {
    position: absolute;
    left: -6px;
    bottom: -6px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .45);
}

.melt-color-picker-slider {
    height: 12px;
    padding-right: 12px;
    background-image: linear-gradient(
        90deg,
        red,
        rgb(255, 255, 0) 16.66%,
        rgb(0, 255, 0) 33.33%,
        rgb(0, 255, 255) 50%,
        rgb(0, 0, 255) 66.66%,
        rgb(255, 0, 255) 83.33%,
        red
    );
    border-radius: 6px;
}

.melt-color-picker-slider__handle {
    position: relative;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid white;
    cursor: pointer;
}
