.melt-skeleton {
    width: 100%;
    height: 1em;
    background-color: var(--melt-background-color-start);

    background: linear-gradient(
        90deg,
        var(--melt-background-color-start) 25%,
        var(--melt-background-color-end) 37%,
        var(--melt-background-color-start) 63%
    );
    animation: meltSkeletonLoading 1.4s ease infinite;
    background-size: 400% 100%;
}

@keyframes meltSkeletonLoading {
    from {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }
}
