.melt-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 19px;
    padding: 2px 5px 3px;
    background-color: var(--melt-background-color);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.05);
}

.melt-switch__button {
    position: absolute;
    left: 4px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3),
        inset 0 0 1px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease;
}

.melt-switch--active {
    background-color: var(--melt-background-color-active);
}

.melt-switch--active .melt-switch__button {
    left: 22px;
}
