.thaw-slider {
    position: relative;
    padding: 6px 0;
    cursor: pointer;
    user-select: none;
}
.thaw-slider-rail {
    height: 4px;
    background-color: var(--thaw-background-color);
    border-radius: 2px;
    cursor: pointer;
}
.thaw-slider-rail__fill {
    width: 0%;
    height: 4px;
    background-color: var(--thaw-background-color-fill);
    border-radius: 2px;
    cursor: pointer;
}
.thaw-slider-handle {
    position: absolute;
    top: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 4px #2224;
    transform: translateX(-50%);
}
