.melt-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.melt-checkbox__input {
    width: 0;
    height: 0;
}
.melt-checkbox__dot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.melt-checkbox:hover .melt-checkbox__dot,
.melt-checkbox--checked .melt-checkbox__dot {
    border-color: var(--background-color-checked);
}
.melt-checkbox--checked .melt-checkbox__dot {
    background-color: var(--background-color-checked);
}

.melt-checkbox__label {
    display: inline-block;
    padding: 0 6px;
    user-select: none;
}
