@keyframes thaw-motion-collapse-enter-size {
    0% {
        max-height: 0;
        overflow-y: hidden;
    }
    50% {
        max-height: 0;
        offset: 0.9999;
        overflow-y: hidden;
    }
    100% {
        max-height: unset;
        overflow-y: unset;
    }
}

@keyframes thaw-motion-collapse-enter-whitespace {
    to {
        padding-top: 0;
        padding-bottom: 0;
        offset: 0;
    }
}

@keyframes thaw-motion-collapse-enter-opacity {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.thaw-motion-collapse-enter-active {
    animation: thaw-motion-collapse-enter-size var(--durationNormal)
            var(--curveEasyEaseMax),
        thaw-motion-collapse-enter-whitespace var(--durationNormal)
            var(--curveEasyEaseMax),
        thaw-motion-collapse-enter-opacity var(--durationNormal)
            var(--curveEasyEaseMax);
}

.thaw-motion-collapse-leave-active {
    animation: thaw-motion-collapse-enter-size var(--durationNormal)
            var(--curveEasyEaseMax) reverse,
        thaw-motion-collapse-enter-whitespace var(--durationNormal)
            var(--curveEasyEaseMax) reverse,
        thaw-motion-collapse-enter-opacity var(--durationNormal)
            var(--curveEasyEaseMax) reverse;
}
