.thaw-label {
    line-height: var(--lineHeightBase300);
    font-size: var(--fontSizeBase300);
    font-family: var(--fontFamilyBase);
    color: var(--colorNeutralForeground1);
}

.thaw-label__required {
    padding-left: var(--spacingHorizontalXS);
    color: var(--colorPaletteRedForeground3);
}

.thaw-label--disabled {
    color: var(--colorNeutralForegroundDisabled);
}

.thaw-label--disabled .thaw-label__required {
    color: var(--colorNeutralForegroundDisabled);
}

.thaw-label--small {
    font-size: var(--fontSizeBase200);
    line-height: var(--lineHeightBase200);
}

.thaw-label--large {
    font-weight: var(--fontWeightSemibold);
    font-size: var(--fontSizeBase400);
    line-height: var(--lineHeightBase400);
}

.thaw-label--semibold {
    font-weight: var(--fontWeightSemibold);
}
