.thaw-text--code {
    padding: 0.2em 0.35em;
    font-size: 0.93em;
    line-height: 1.4;
    background-color: var(--thaw-background-color);
    border: 1px solid #0000;
    border-radius: 2px;
    box-sizing: border-box;
}
