.thaw-modal-container {
    z-index: 2001;
}
.thaw-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0007;
    z-index: 2000;
}
.thaw-modal-body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    min-height: 100%;
    z-index: 2002;
}

.thaw-modal-body .thaw-card {
    width: 600px;
    margin: auto;
}

.thaw-model-title {
    font-size: 16px;
}
