.melt-modal-container {
    z-index: 2001;
}
.melt-modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0007;
    z-index: 2000;
}
.melt-modal-body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    min-height: 100%;
    z-index: 2002;
}

.melt-modal-body .melt-card {
    width: 600px;
    margin: auto;
}

.melt-model-title {
    font-size: 16px;
}
