.melt-tag {
    display: inline-flex;
    height: 28px;
    align-items: center;
    font-size: 14px;
    padding: 0 10px;
    background-color: var(--background-color);
    color: var(--font-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
