.thaw-popover {
    position: relative;
    padding: 8px 14px;
    background-color: var(--thaw-background-color);
    border-radius: 3px;
}

.thaw-popover-trigger {
    display: inline-block;
}

.thaw-popover__angle-container {
    position: absolute;
}

.thaw-popover__angle {
    position: absolute;
    background: var(--thaw-background-color);
    width: 10px;
    height: 10px;
}

[data-thaw-placement="top-start"] > .thaw-popover,
[data-thaw-placement="top-end"] > .thaw-popover,
[data-thaw-placement="top"] > .thaw-popover {
    margin-bottom: 10px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

[data-thaw-placement="top-start"] .thaw-popover__angle-container,
[data-thaw-placement="top-end"] .thaw-popover__angle-container,
[data-thaw-placement="top"] .thaw-popover__angle-container {
    width: 100%;
    height: 10px;
    bottom: -10px;
    left: 0;
    right: 0;
}

[data-thaw-placement="top-start"] .thaw-popover__angle,
[data-thaw-placement="top-end"] .thaw-popover__angle,
[data-thaw-placement="top"] .thaw-popover__angle {
    left: 50%;
    transform: rotate(45deg) translateX(-7px);
}

[data-thaw-placement="bottom-start"] > .thaw-popover,
[data-thaw-placement="bottom-end"] > .thaw-popover,
[data-thaw-placement="bottom"] > .thaw-popover {
    margin-top: 10px;
    box-shadow: 0 -3px 6px -4px rgba(0, 0, 0, 0.12),
        0 -6px 16px 0 rgba(0, 0, 0, 0.08), 0 -9px 28px 8px rgba(0, 0, 0, 0.05);
}

[data-thaw-placement="bottom-start"] .thaw-popover__angle-container,
[data-thaw-placement="bottom-end"] .thaw-popover__angle-container,
[data-thaw-placement="bottom"] .thaw-popover__angle-container {
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    right: 0;
}

[data-thaw-placement="bottom-start"] .thaw-popover__angle,
[data-thaw-placement="bottom-end"] .thaw-popover__angle,
[data-thaw-placement="bottom"] .thaw-popover__angle {
    left: 50%;
    transform: rotate(45deg) translateY(7px);
}

[data-thaw-placement="left-start"] > .thaw-popover,
[data-thaw-placement="left-end"] > .thaw-popover,
[data-thaw-placement="left"] > .thaw-popover {
    margin-right: 10px;
    box-shadow: 3px 0 6px -4px rgba(0, 0, 0, 0.12),
        6px 0 16px 0 rgba(0, 0, 0, 0.08), 9px 0 28px 8px rgba(0, 0, 0, 0.05);
}

[data-thaw-placement="left-start"] .thaw-popover__angle-container,
[data-thaw-placement="left-end"] .thaw-popover__angle-container,
[data-thaw-placement="left"] .thaw-popover__angle-container {
    width: 10px;
    height: 100%;
    right: -10px;
    top: 0;
    bottom: 0;
}

[data-thaw-placement="left-start"] .thaw-popover__angle,
[data-thaw-placement="left-end"] .thaw-popover__angle,
[data-thaw-placement="left"] .thaw-popover__angle {
    top: 50%;
    transform: rotate(45deg) translateX(-7px);
}

[data-thaw-placement="right-start"] > .thaw-popover,
[data-thaw-placement="right-end"] > .thaw-popover,
[data-thaw-placement="right"] > .thaw-popover {
    margin-left: 10px;
    box-shadow: -3px 0 6px -4px rgba(0, 0, 0, 0.12),
        -6px 0 16px 0 rgba(0, 0, 0, 0.08), -9px 0 28px 8px rgba(0, 0, 0, 0.05);
}

[data-thaw-placement="right-start"] .thaw-popover__angle-container,
[data-thaw-placement="right-end"] .thaw-popover__angle-container,
[data-thaw-placement="right"] .thaw-popover__angle-container {
    width: 10px;
    height: 100%;
    left: -10px;
    top: 0;
    bottom: 0;
}

[data-thaw-placement="right-start"] .thaw-popover__angle,
[data-thaw-placement="right-end"] .thaw-popover__angle,
[data-thaw-placement="right"] .thaw-popover__angle {
    top: 50%;
    transform: rotate(45deg) translateY(-7px);
}

[data-thaw-placement="bottom-start"] .thaw-popover__angle,
[data-thaw-placement="top-start"] .thaw-popover__angle {
    left: 16px;
}
[data-thaw-placement="bottom-end"] .thaw-popover__angle,
[data-thaw-placement="top-end"] .thaw-popover__angle {
    left: initial;
    right: 7px;
}
[data-thaw-placement="right-start"] .thaw-popover__angle,
[data-thaw-placement="left-start"] .thaw-popover__angle {
    top: 16px;
}
[data-thaw-placement="right-end"] .thaw-popover__angle,
[data-thaw-placement="left-end"] .thaw-popover__angle {
    top: initial;
    bottom: 7px;
}
