div.thaw-popover-surface {
    position: relative;
    transform-origin: inherit;

    padding: 16px;
    border-radius: var(--borderRadiusMedium);
    border: 1px solid var(--colorTransparentStroke);
    box-shadow: var(--shadow16);
    line-height: var(--lineHeightBase300);
    font-weight: var(--fontWeightRegular);
    font-size: var(--fontSizeBase300);
    font-family: var(--fontFamilyBase);
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
}

.thaw-popover-surface__angle {
    position: absolute;
    background-color: inherit;
    width: 10px;
    height: 10px;
}

.thaw-popover-trigger {
    display: inline-block;
}

[data-thaw-placement="top-start"] > .thaw-popover-surface,
[data-thaw-placement="top-end"] > .thaw-popover-surface,
[data-thaw-placement="top"] > .thaw-popover-surface {
    margin-bottom: 10px;
}

[data-thaw-placement="top-start"] .thaw-popover-surface__angle,
[data-thaw-placement="top-end"] .thaw-popover-surface__angle,
[data-thaw-placement="top"] .thaw-popover-surface__angle {
    transform: rotate(45deg) translateX(-7px);
    bottom: -10px;
    left: 50%;
}

[data-thaw-placement="bottom-start"] > .thaw-popover-surface,
[data-thaw-placement="bottom-end"] > .thaw-popover-surface,
[data-thaw-placement="bottom"] > .thaw-popover-surface {
    margin-top: 10px;
}

[data-thaw-placement="bottom-start"] .thaw-popover-surface__angle,
[data-thaw-placement="bottom-end"] .thaw-popover-surface__angle,
[data-thaw-placement="bottom"] .thaw-popover-surface__angle {
    transform: rotate(45deg) translateY(7px);
    top: -10px;
    left: 50%;
}

[data-thaw-placement="left-start"] > .thaw-popover,
[data-thaw-placement="left-end"] > .thaw-popover,
[data-thaw-placement="left"] > .thaw-popover {
    margin-right: 10px;
    box-shadow: 3px 0 6px -4px rgba(0, 0, 0, 0.12),
        6px 0 16px 0 rgba(0, 0, 0, 0.08), 9px 0 28px 8px rgba(0, 0, 0, 0.05);
}

[data-thaw-placement="left-start"] .thaw-popover-surface__angle,
[data-thaw-placement="left-end"] .thaw-popover-surface__angle,
[data-thaw-placement="left"] .thaw-popover-surface__angle {
    width: 10px;
    height: 100%;
    right: -10px;
    top: 0;
    bottom: 0;
}

[data-thaw-placement="left-start"] .thaw-popover-surface__angle::before,
[data-thaw-placement="left-end"] .thaw-popover-surface__angle::before,
[data-thaw-placement="left"] .thaw-popover-surface__angle::before {
    top: 50%;
    transform: rotate(45deg) translateX(-7px);
}

[data-thaw-placement="right-start"] > .thaw-popover,
[data-thaw-placement="right-end"] > .thaw-popover,
[data-thaw-placement="right"] > .thaw-popover {
    margin-left: 10px;
    box-shadow: -3px 0 6px -4px rgba(0, 0, 0, 0.12),
        -6px 0 16px 0 rgba(0, 0, 0, 0.08), -9px 0 28px 8px rgba(0, 0, 0, 0.05);
}

[data-thaw-placement="right-start"] .thaw-popover-surface__angle,
[data-thaw-placement="right-end"] .thaw-popover-surface__angle,
[data-thaw-placement="right"] .thaw-popover-surface__angle {
    width: 10px;
    height: 100%;
    left: -10px;
    top: 0;
    bottom: 0;
}

[data-thaw-placement="right-start"] .thaw-popover-surface__angle::before,
[data-thaw-placement="right-end"] .thaw-popover-surface__angle::before,
[data-thaw-placement="right"] .thaw-popover-surface__angle::before {
    top: 50%;
    transform: rotate(45deg) translateY(-7px);
}

[data-thaw-placement="bottom-start"] .thaw-popover-surface__angle,
[data-thaw-placement="top-start"] .thaw-popover-surface__angle {
    left: 16px;
}
[data-thaw-placement="bottom-end"] .thaw-popover-surface__angle::before,
[data-thaw-placement="top-end"] .thaw-popover-surface__angle::before {
    left: initial;
    right: 7px;
}
[data-thaw-placement="right-start"] .thaw-popover-surface__angle::before,
[data-thaw-placement="left-start"] .thaw-popover-surface__angle::before {
    top: 16px;
}
[data-thaw-placement="right-end"] .thaw-popover-surface__angle::before,
[data-thaw-placement="left-end"] .thaw-popover-surface__angle::before {
    top: initial;
    bottom: 7px;
}

.thaw-popover.popover-transition-enter-from,
.thaw-popover.popover-transition-leave-to {
    opacity: 0;
    transform: scale(0.85);
}

.thaw-popover.popover-transition-enter-to,
.thaw-popover.popover-transition-leave-from {
    transform: scale(1);
    opacity: 1;
}

.thaw-popover.popover-transition-enter-active {
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.15s cubic-bezier(0, 0, 0.2, 1),
        transform 0.15s cubic-bezier(0, 0, 0.2, 1);
}

.thaw-popover.popover-transition-leave-active {
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.15s cubic-bezier(0.4, 0, 1, 1),
        transform 0.15s cubic-bezier(0.4, 0, 1, 1);
}
