.thaw-drawer-header {
    width: 100%;
    max-width: 100%;
    padding: var(--spacingVerticalXXL) var(--spacingHorizontalXXL)
        var(--spacingVerticalS);
    gap: var(--spacingHorizontalS);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.thaw-drawer-header-title {
    column-gap: var(--spacingHorizontalS);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.thaw-drawer-header-title__heading {
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase500);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightBase500);
    margin: 0px;
    grid-area: 1 / 1 / 1 / 3;
}

.thaw-drawer-header-title__action {
    margin-right: calc(var(--spacingHorizontalS) * -1);
    grid-row: 1 / 1;
    grid-column-start: 3;
    place-self: start end;
}

.thaw-drawer-body {
    padding: 0 var(--spacingHorizontalXXL);
    flex: 1 1 0%;
    align-self: stretch;
    position: relative;
    z-index: 1;
    overflow: auto;
}

.thaw-drawer-body:last-child {
    padding-bottom: calc(var(--spacingHorizontalXXL) + 1px);
}
