.thaw-overlay-drawer-container {
    z-index: 1000000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;
}

.thaw-overlay-drawer__backdrop {
    will-change: opacity;
    transition-timing-function: var(--curveEasyEase);
    transition-property: opacity;
    opacity: 1;
    transition-duration: var(--durationGentle);
    inset: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}

.thaw-overlay-drawer {
    --thaw-drawer--size: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: auto;
    left: 0px;
    width: var(--thaw-drawer--size);
    max-width: 100vw;
    height: auto;
    max-height: 100vh;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    box-shadow: var(--shadow64);
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    will-change: transform, box-shadow, opacity;
    transition-property: transform, box-shadow, opacity;
    transition-duration: var(--durationGentle);
    box-sizing: border-box;
    border-right: var(--strokeWidthThin) solid var(--colorTransparentStroke);
    overflow: hidden;
}

.thaw-drawer-header {
    width: 100%;
    max-width: 100%;
    padding: var(--spacingVerticalXXL) var(--spacingHorizontalXXL)
        var(--spacingVerticalS);
    gap: var(--spacingHorizontalS);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.thaw-drawer-header-title {
    column-gap: var(--spacingHorizontalS);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.thaw-drawer-header-title__heading {
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase500);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightBase500);
    margin: 0px;
    grid-area: 1 / 1 / 1 / 3;
}

.thaw-drawer-header-title__action {
    margin-right: calc(var(--spacingHorizontalS)* -1);
    grid-row: 1 / 1;
    grid-column-start: 3;
    place-self: start end;
}

.thaw-drawer-body {
    padding: 0 var(--spacingHorizontalXXL);
    flex: 1 1 0%;
    align-self: stretch;
    position: relative;
    z-index: 1;
    overflow: auto;
}

.thaw-drawer-body:last-child {
    padding-bottom: calc(var(--spacingHorizontalXXL) + 1px);
}