.thaw-scrollbar {
    overflow: hidden;
    position: relative;
    z-index: auto;
    height: 100%;
    width: 100%;
}

.thaw-scrollbar__container {
    width: 100%;
    overflow: scroll;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    scrollbar-width: none;
}

.thaw-scrollbar__content {
    box-sizing: border-box;
    min-width: 100%;
}

.thaw-scrollbar__track--vertical {
    position: absolute;
    pointer-events: none;
    user-select: none;

    right: 0;
    top: 0;
    bottom: 0;
    width: var(--thaw-scrollbar-size);
}

.thaw-scrollbar__track--horizontal {
    position: absolute;
    pointer-events: none;
    user-select: none;

    bottom: 0;
    left: 0;
    right: 0;
    height: var(--thaw-scrollbar-size);
}

.thaw-scrollabr__thumb {
    position: absolute;
    pointer-events: all;

    width: 100%;
    height: 100%;
    border-radius: var(--thaw-scrollbar-size);
    background-color: var(--thaw-scrollbar-background-color);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.thaw-scrollabr__thumb:hover {
    background-color: var(--thaw-scrollbar-background-color-hover);
}
