.thaw-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--thaw-background-color);
    border: 1px solid var(--thaw-border-color);
    border-radius: var(--thaw-border-radius);
}

.thaw-table th {
    text-align: inherit;
    background-color: var(--thaw-background-color-striped);
}

.thaw-table td,
.thaw-table th {
    padding: 12px;
    border-right: 1px solid var(--thaw-border-color);
    border-bottom: 1px solid var(--thaw-border-color);
}

.thaw-table.thaw-table--single-row td,
.thaw-table.thaw-table--single-row th {
    border-right: none;
}
.thaw-table.thaw-table--single-column td {
    border-bottom: none;
}
.thaw-table td:last-child,
.thaw-table th:last-child {
    border-right: none;
}

.thaw-table tbody tr:last-child td {
    border-bottom: none;
}
.thaw-table tr {
    border-bottom: 1px solid var(--thaw-border-color);
}
