.thaw-collapse .thaw-collapse-item:not(:first-child) {
    margin-top: 16px;
    border-top: 1px solid var(--thaw-border-color);
}

.thaw-collapse-item__header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.thaw-collapse
    .thaw-collapse-item:not(:first-child)
    .thaw-collapse-item__header {
    padding-top: 16px;
}

.thaw-collapse-item-arrow {
    margin-right: 4px;
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.thaw-collapse-item--active .thaw-collapse-item-arrow {
    transform: rotate(90deg);
}

.thaw-collapse-item__content {
    padding-top: 16px;
}
