.thaw-progress {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thaw-progress__progress {
    flex: 1;
    position: relative;
    height: 8px;
    background: #f2f2f2;
    border-radius: 4px;
}

.thaw-progress__progress--indicator-inside {
    height: 16px;
    font-size: 12px;
    border-radius: 8px;
}

.thaw-progress__progress-inner {
    position: absolute;
    background: var(--thaw-background-color);
    height: 100%;
    border-radius: inherit;
    transition: width 0.1s;
}

.thaw-progress__indicator--outside {
    padding: 0 8px;
}

.thaw-progress__indicator--inside {
    text-align: right;
    margin: 0 12px;
}
