.thaw-select {
    position: relative;
    display: inline-block;
    padding: 0 30px 0 10px;
    min-height: 30px;
    line-height: 28px;
    background-color: var(--thaw-background-color);
    font-size: 14px;
    color: var(--thaw-font-color);
    border: 1px solid var(--thaw-border-color);
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
    box-sizing: border-box;
}

.thaw-select.thaw-select--multiple {
    padding: 0 30px 0 3px;
}

.thaw-select-dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    opacity: 40%;
    pointer-events: none;
}

.thaw-select-dropdown-icon--clear {
    pointer-events: auto;
}

.thaw-select.thaw-select--multiple .thaw-tag {
    height: 20px;
    margin-right: 3px;
}

.thaw-select:hover {
    border-color: var(--thaw-border-color-hover);
}

.thaw-select-menu {
    font-size: 14px;
    color: var(--thaw-font-color);
    background-color: var(--thaw-background-color);
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    max-height: 200px;
    border-radius: 3px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    overflow: auto;
}

.thaw-select-menu__item {
    padding: 6px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.thaw-select-menu__item:hover {
    background-color: var(--thaw-background-color-hover);
}

.thaw-select-menu__item-selected {
    color: var(--thaw-font-color-selected);
}

.thaw-select-menu.fade-in-scale-up-transition-leave-active {
    transform-origin: inherit;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 1, 1),
        transform 0.2s cubic-bezier(0.4, 0, 1, 1),
        background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.thaw-select-menu.fade-in-scale-up-transition-enter-active {
    transform-origin: inherit;
    transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1),
        transform 0.2s cubic-bezier(0, 0, 0.2, 1),
        background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.thaw-select-menu.fade-in-scale-up-transition-enter-from,
.thaw-select-menu.fade-in-scale-up-transition-leave-to {
    opacity: 0;
    transform: scale(0.9);
}

.thaw-select-menu.fade-in-scale-up-transition-leave-from,
.thaw-select-menu.fade-in-scale-up-transition-enter-to {
    opacity: 1;
    transform: scale(1);
}
