.thaw-menu-item__content {
    margin: 0.3rem 0.4rem;
    padding: 0.5rem 0.75rem;
    color: var(--thaw-font-color);
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;

    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.thaw-menu-item__content:hover:not(.thaw-menu-item__content--selected) {
    background-color: var(--thaw-background-color-hover);
}

.thaw-menu-item__content--selected {
    color: var(--thaw-font-color-active);
    background-color: var(--thaw-background-color);
}
