.melt-menu-item__content {
    margin: 0.3rem 0.4rem;
    padding: 0.6rem 0.8rem 0.6rem 1rem;
    color: var(--font-color);
    cursor: pointer;
    border-radius: 0.25rem;

    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.melt-menu-item__content:hover:not(.melt-menu-item__content--selected) {
    background-color: var(--bg-color-hover);
}

.melt-menu-item__content--selected {
    color: var(--font-color-active);
    background-color: var(--bg-color);
}
