.thaw-calendar {
    display: flex;
    flex-direction: column;
    height: 720px;
}

.thaw-calendar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
}

.thaw-calendar__header-title {
    font-size: 22px;
    font-weight: 500;
}

.thaw-calendar__dates {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: var(--thaw-border-color);
}

.thaw-calendar-item {
    position: relative;
    padding: 8px 12px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--thaw-border-color);
    cursor: pointer;
}

.thaw-calendar-item:hover {
    background-color: var(--thaw-background-color-hover);
}

.thaw-calendar-item--other-month {
    color: var(--thaw-font-color-other-month);
}

.thaw-calendar-item__header {
    display: flex;
    justify-content: space-between;
}

.thaw-calendar-item--today .thaw-calendar-item__header-day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--thaw-background-color-today);
    border-radius: 50%;
    margin-left: -0.4em;
    margin-top: -0.3em;
    width: 1.8em;
    height: 1.8em;
}

.thaw-calendar-item--selected .thaw-calendar-item__bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--thaw-background-color-today);
    height: 3px;
}
