.thaw-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.thaw-radio__input {
    width: 0;
    height: 0;
    opacity: 0;
}

.thaw-radio__dot {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.thaw-radio:hover .thaw-radio__dot,
.thaw-radio--checked .thaw-radio__dot {
    border-color: var(--thaw-background-color-checked);
}

.thaw-radio--checked .thaw-radio__dot::before {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background-color: var(--thaw-background-color-checked);
    border-radius: 50%;
}

.thaw-radio__label {
    display: inline-block;
    padding: 0 6px;
    user-select: none;
}
