.thaw-time-picker-panel {
    width: 160px;
    height: 260px;
    background-color: var(--thaw-background-color);
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.thaw-time-picker-panel__time {
    display: flex;
    height: calc(100% - 40px);
}

.thaw-time-picker-panel__time-hour,
.thaw-time-picker-panel__time-minute,
.thaw-time-picker-panel__time-second {
    flex: 1;
    overflow-y: auto;
}

.thaw-time-picker-panel__time-item {
    height: 34px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
}

.thaw-time-picker-panel__time-item--slected,
.thaw-time-picker-panel__time-item:hover {
    background-color: var(--thaw-item-background-color-hover);
}

.thaw-time-picker-panel__time-item--slected {
    color: var(--thaw-item-font-color);
}

.thaw-time-picker-panel__footer {
    display: flex;
    padding: 0 2px 2px;
    height: 38px;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--thaw-item-border-color);
}
