.thaw-info-label__label {
    color: inherit;
    cursor: inherit;
    vertical-align: top;
}

.thaw-info-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
    box-sizing: border-box;
    padding: var(--spacingVerticalXS) var(--spacingHorizontalXS);
    color: var(--colorNeutralForeground2);
    background-color: var(--colorTransparentBackground);
    font-size: 16px;
    border-style: none;
    border-radius: var(--borderRadiusMedium);
}

.thaw-info-label__info-button {
    margin: calc(0px - var(--spacingVerticalXXS)) 0;
    vertical-align: top;
}

.thaw-info-label__info-button.thaw-info-button--large {
    margin: -1px 0;
}

.thaw-popover-trigger--open > .thaw-info-button,
.thaw-info-button:hover {
    background: var(--colorTransparentBackgroundHover);
    color: var(--colorNeutralForeground2BrandHover);
}

.thaw-info-button--small {
    font-size: 12px;
}

.thaw-info-button--large {
    padding: var(--spacingVerticalXXS) var(--spacingHorizontalXXS);
    font-size: 20px;
}

.thaw-info-button-popover.thaw-popover-surface {
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase200);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase200);
}

.thaw-info-button-popover.thaw-popover-surface--large {
    font-size: var(--fontSizeBase300);
    line-height: var(--lineHeightBase300);
}
