.thaw-message-bar {
    white-space: nowrap;
    display: grid;
    grid-template: "icon body secondaryActions actions" 1fr / auto 1fr auto auto;
    padding-left: var(--spacingHorizontalM);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    border-radius: var(--borderRadiusMedium);
    align-items: center;
    min-height: 36px;
    box-sizing: border-box;
    background-color: var(--colorNeutralBackground3);
}

.thaw-message-bar.thaw-message-bar--multiline {
    grid-template-areas:
        "icon body actions"
        "secondaryActions secondaryActions secondaryActions";
    grid-template-columns: auto 1fr auto;
    padding-top: var(--spacingVerticalMNudge);
    align-items: start;
    white-space: normal;
}

.thaw-message-bar--success {
    border-color: var(--colorStatusSuccessBorder1);
    background-color: var(--colorStatusSuccessBackground1);
}

.thaw-message-bar--success > .thaw-message-bar__icon {
    color: var(--colorStatusSuccessForeground1);
}

.thaw-message-bar--warning {
    border-color: var(--colorStatusWarningBorder1);
    background-color: var(--colorStatusWarningBackground1);
}

.thaw-message-bar--warning > .thaw-message-bar__icon {
    color: var(--colorStatusWarningForeground3);
}

.thaw-message-bar--error {
    border-color: var(--colorStatusDangerBorder1);
    background-color: var(--colorStatusDangerBackground1);
}

.thaw-message-bar--error > .thaw-message-bar__icon {
    color: var(--colorStatusDangerForeground1);
}

.thaw-message-bar__icon {
    grid-area: icon;
    font-size: var(--fontSizeBase500);
    margin-right: var(--spacingHorizontalS);
    color: var(--colorNeutralForeground3);
    display: flex;
    align-items: center;
}

.thaw-message-bar__icon > svg {
    display: inline;
    line-height: 0;
}

.thaw-message-bar-body {
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);
    grid-area: body;
    padding-right: var(--spacingHorizontalM);
}

.thaw-message-bar-title {
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightBase300);
}

.thaw-message-bar-title::after {
    content: " ";
}

.thaw-message-bar-actions {
    grid-area: secondaryActions;
    display: flex;
    column-gap: var(--spacingHorizontalM);
    padding-right: var(--spacingHorizontalM);
}
.tha-message-bar-actions__container-action {
    grid-area: actions;
    padding-right: var(--spacingHorizontalM);
}
