.thaw-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.thaw-checkbox__input {
    width: 0;
    height: 0;
    opacity: 0;
}
.thaw-checkbox__dot {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.thaw-checkbox:hover .thaw-checkbox__dot,
.thaw-checkbox--checked .thaw-checkbox__dot {
    border-color: var(--thaw-background-color-checked);
}
.thaw-checkbox--checked .thaw-checkbox__dot {
    background-color: var(--thaw-background-color-checked);
}

.thaw-checkbox__label {
    display: inline-block;
    padding: 0 6px;
    user-select: none;
}
