.thaw-input {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    box-sizing: border-box;
    min-height: 32px;

    background-color: var(--colorNeutralBackground1);

    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightRegular);
    line-height: var(--lineHeightBase300);

    border: 1px solid var(--colorNeutralStroke1);
    border-bottom-color: var(--colorNeutralStrokeAccessible);
    border-radius: var(--borderRadiusMedium);

    cursor: text;
    transition: all 0.3s;
}

.thaw-input:hover {
    border-color: var(--colorNeutralStroke1Hover);
    border-bottom-color: var(--colorNeutralStrokeAccessibleHover);
}

.thaw-input:active .thaw-input:focus-within {
    border-color: var(--colorNeutralStroke1Pressed);
    border-bottom-color: var(--colorNeutralStrokeAccessiblePressed);
}

.thaw-input::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: -1px;
    bottom: -1px;
    right: -1px;
    height: max(2px, var(--borderRadiusMedium));
    border-bottom-left-radius: var(--borderRadiusMedium);
    border-bottom-right-radius: var(--borderRadiusMedium);
    border-bottom: 2px solid var(--colorCompoundBrandStroke);
    clip-path: inset(calc(100% - 2px) 0px 0px);
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: var(--durationUltraFast);
    transition-delay: var(--curveAccelerateMid);
}

.thaw-input:focus-within::after {
    transform: scaleX(1);
    transition-property: transform;
    transition-duration: var(--durationNormal);
    transition-delay: var(--curveDecelerateMid);
}

.thaw-input__input-el {
    align-self: stretch;
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0px;
    border-style: none;
    padding: 0 var(--spacingHorizontalM);
    color: var(--colorNeutralForeground1);
    background-color: transparent;
    outline-style: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.thaw-input--focus,
.thaw-input:hover:not(.thaw-input--disabled, .thaw-input--invalid) {
    border-color: var(--thaw-border-color-hover);
}

.thaw-input--disabled,
.thaw-input--disabled .thaw-input__input-el {
    cursor: not-allowed;
    background-color: var(--thaw-background-color-disabled);
    color: var(--thaw-font-color-disabled);
}

.thaw-input--invalid {
    border-color: var(--thaw-border-color-error);
}

.thaw-input--focus:not(.thaw-input--invalid) {
    box-shadow: 0 0 0 2px var(--thaw-box-shadow-color);
}

.thaw-input--focus.thaw-input--invalid {
    box-shadow: 0 0 0 2px var(--thaw-box-shadow-color-invalid);
}

.thaw-input__input-el::placeholder {
    color: var(--thaw-placeholder-color);
}

.thaw-input__prefix {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.thaw-input__suffix {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}
