.melt-button {
    height: 34px;
    padding: 0 16px;
    background-color: #0000;
    border: 1px solid #555a;
    border-radius: 5px;
    cursor: pointer;
}

.melt-button:hover {
    transition: all 0.3s;
    border-color: #555;
}

.melt-button--text {
    border: none;
}

.melt-button--text:hover {
    color: #4af;
}