.thaw-button {
    height: 34px;
    padding: 0 16px;
    background-color: var(--thaw-background-color);
    color: var(--thaw-font-color);
    border: 1px solid var(--thaw-border-color);
    border-radius: 5px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.thaw-button:hover {
    border-color: var(--thaw-border-color-hover);
    background-color: var(--thaw-background-color-hover);
    cursor: pointer;

    transition: all 0.3s;
}

.thaw-button:active:not(.thaw-button--disabled) {
    transition: all 0.3s;
    border-color: var(--thaw-border-color-hover);
    background-color: var(--thaw-background-color-active);
}

.thaw-button--text,
.thaw-button--link {
    border: none;
}

.thaw-button--text:hover {
    color: var(--thaw-font-color-hover);
}

.thaw-button--link {
    height: auto;
    padding: inherit;
}

.thaw-button--link:hover {
    color: var(--thaw-font-color-hover);
}

.thaw-button--round {
    padding: 0 10px;
    border-radius: 50%;
}

@keyframes thawLoadingCircle {
    100% {
        transform: rotate(360deg);
    }
}

.thaw-button .thaw-wave {
    pointer-events: none;
    animation-iteration-count: 1;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1),
        cubic-bezier(0, 0, 0.2, 1);
}

.thaw-button .thaw-wave.thaw-wave--active {
    z-index: 1;
    animation-name: thawButtonWaveSpread, thawButtonWaveOpacity;
}

@keyframes thawButtonWaveSpread {
    from {
        box-shadow: 0 0 0.5px 0 var(--thaw-ripple-color);
    }
    to {
        box-shadow: 0 0 0.5px 6px var(--thaw-ripple-color);
    }
}

@keyframes thawButtonWaveOpacity {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 0;
    }
}
