.melt-button {
    height: 34px;
    padding: 0 16px;
    background-color: var(--background-color);
    color: var(--font-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.melt-button:hover {
    border-color: var(--border-color-hover);
    background-color: var(--background-color-hover);
    cursor: pointer;

    transition: all 0.3s;
}

.melt-button:active:not(.melt-button--disabled) {
    transition: all 0.3s;
    border-color: var(--border-color-hover);
    background-color: var(--background-color-active);
}

.melt-button--text,
.melt-button--link {
    border: none;
}

.melt-button--text:hover {
    color: var(--font-color-hover);
    background-color: #f2f2f2;
}

.melt-button--link {
    height: auto;
    padding: inherit;
}

.melt-button--link:hover {
    color: var(--font-color-hover);
}

.melt-button--round {
    padding: 0 10px;
    border-radius: 50%;
}

@keyframes meltLoadingCircle {
    100% {
        transform: rotate(360deg);
    }
}
