.thaw-tabbar {
    background-color: var(--thaw-background-color);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
