.thaw-avatar {
    display: inline-block;
    width: var(--thaw-size);
    height: var(--thaw-size);
    background-color: var(--thaw-background-color);
    border-radius: var(--thaw-border-radius);
}

.thaw-avatar img {
    width: 100%;
    height: 100%;
    border-radius: var(--thaw-border-radius);
}
