.melt-avatar {
    display: inline-block;
    width: var(--melt-size);
    height: var(--melt-size);
    background-color: var(--melt-background-color);
    border-radius: var(--melt-border-radius);
}

.melt-avatar img {
    width: 100%;
    height: 100%;
    border-radius: var(--melt-border-radius);
}
