[package]
publish = false
name = "demo"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
leptos = { version = "0.5.2" }
leptos_meta = { version = "0.5.2" }
leptos_router = { version = "0.5.2" }
leptos_devtools = "0.0.1"
thaw = { path = "../" }
icondata = { version = "0.1.0", features = [
    "AiCloseOutlined",
    "AiCheckOutlined",
    "AiGithubOutlined",
    "AiUserOutlined",
] }
prisms = { git = "https://github.com/luoxiaozero/prisms", rev = "16d4d34b93fc20578ebf03137d54ecc7eafa4d4b" }

[features]
default = ["csr"]
tracing = ["leptos/tracing"]
csr = ["leptos/csr", "leptos_meta/csr", "leptos_router/csr", "thaw/csr"]
ssr = ["leptos/ssr", "leptos_meta/ssr", "leptos_router/ssr", "thaw/ssr"]
