.melt-alert {
    position: relative;
    padding: 14px 20px 14px 42px;
    background-color: var(--melt-background-color);
    border: 1px solid var(--melt-border-color);
    border-radius: 3px;
    line-height: 1.6;
}

.melt-alert__icon {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 24px;
    color: var(--melt-icon-color);
}

.melt-alert__header {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}

.melt-alert__header + .melt-alert__content {
    margin-top: 8px;
    font-size: 14px;
}
