.thaw-dropdown-item{
    padding: 6px 5px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.thaw-dropdown-item:hover:not(.thaw-dropdown-item--disabled) {
    background-color: var(--colorNeutralBackground1Hover);
}

.thaw-dropdown-item.thaw-dropdown-item--disabled {
    color: var(--colorNeutralForegroundDisabled);
    cursor: not-allowed;
}
