.thaw-binder-follower {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    z-index: auto;
}

.thaw-binder-follower-content {
    position: absolute;
    z-index: 1000000;
}
