.thaw-input {
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: var(--thaw-background-color);
    font-size: 14px;
    color: var(--thaw-font-color);
    border: 1px solid var(--thaw-border-color);
    border-radius: var(--thaw-border-radius);
    cursor: text;
    transition: all 0.3s;
}

.thaw-input--focus,
.thaw-input:hover {
    border-color: var(--thaw-border-color-hover);
}

.thaw-input--focus {
    box-shadow: 0 0 0 2px var(--thaw-box-shadow-color);
}

.thaw-input__input-el {
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: var(--thaw-font-color);
    line-height: 30px;
    font-size: inherit;
    border: none;
    outline: none;
}

.thaw-input__input-el::placeholder {
    color: var(--thaw-placeholder-color);
}

.thaw-input__suffix {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}
