name: Deploy demo
on:
    workflow_dispatch:
    push:
        paths:
            [
                "demo/**",
                "demo_markdown/**",
                "thaw/**",
                "thaw_components/**",
                "thaw_utils/**",
                "Cargo.toml",
            ]
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: demo
        permissions:
            contents: write
            pull-requests: write
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - name: Setup Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  target: wasm32-unknown-unknown
                  override: true
            - name: Install Trunk
              uses: jetli/trunk-action@v0.4.0
              with:
                  version: "latest"
            - name: Build
              run: |
                  cd demo
                  trunk build --release
            - name: Deploy
              uses: amondnet/vercel-action@v20
              with:
                  vercel-token: ${{ secrets.VERCEL_TOKEN }}
                  vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
                  vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
                  vercel-args: "--prod"
                  working-directory: demo/dist
                  vercel-project-name: thaw
